@import "../variables";

@import "../scroll";

.ag-theme-alpine {
    &.border-0 {
        &, & ::ng-deep .ag-root-wrapper {
            border: 0 !important;
        }
    }

    &.cell-overflow-visible {
        ::ng-deep .ag-cell-value {
            overflow: visible !important;
        }
    }

    & ::ng-deep {
        .ag-body-viewport {
            @include scroll(darken($home-base-color, 20%));

            .ag-center-cols-container {
                width: auto !important;
                overflow: hidden;

                .ag-row {
                    width: 100% !important;
                }
            }
        }
    }
}