<div class="button-container">
    <button class="btn btn-primary">Some button</button>
</div>

<div class="list-container" auto-scroll>
    <p>User list works!</p>
    
    <input type="text" />

    <p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p>
</div>