$menu-active-color: darken($home-base-color, 10%);

$menu-width-expanded: 220px;
$menu-width-collapsed: 70px;
$menu-height-item: 45px;

$menu-animation-speed: .15s;
$opacity-animation-speed: .5s;
$icon-animation-speed: .1s;

$menu-select-speed: .2s;
$menu-hover-speed: .2s;
$menu-open-close-speed: .3s;