@import "../../../shared/styles/variables";

@import "../../../shared/styles/background";

.tab-item {
    z-index: 2;
    position: relative;
    opacity: .65;
    color: $item-fore-color;
    font-size: .95rem;
    font-weight: 500;
    max-width: $tab-max-width;
    background-color: $item-background-color;
    transition: all $tab-select-transition-speed ease;

    border-top: 1px solid darken($item-background-color, 20%);
    border-left: 1px solid darken($item-background-color, 20%);
    border-right: 1px solid darken($item-background-color, 20%);

    @include background($item-background-color, .96);
    
    &.active {
        opacity: 1;
        @include background($item-active-background-color, .96);
    }

    &.dragging {
        position: absolute;
    }
    
    &:hover {
        .close {
            opacity: .9;
        }
    }

    .label {
        padding-right: 1.8rem;
        text-decoration: none;
        font-size: 1rem;
        color: inherit;
        cursor: pointer;
    }

    .close {
        position: absolute;
        top: .35rem;
        right: .3rem;
        bottom: .35rem;
        padding: .2rem;
        cursor: pointer;
        color: $close-button-color;
        opacity: .5;
        transition: all $tab-select-transition-speed;

        &:hover {
            color: $close-button-hover-color;
        }
    }
}