<app-button-container>

</app-button-container>

<app-edit-container auto-scroll>
    <span Title>{{ this.title }}</span>

    <app-edit-item-title [id]="'details1'" [label]="'Details'">
        <p>edit works! Role id {{ this.roleId }}</p>
    </app-edit-item-title>

    <app-edit-item-title [id]="'details2'" [label]="'Details 2'">
        <p>edit works! Role id {{ this.roleId }}</p>
    </app-edit-item-title>

    <app-edit-item-title [id]="'details3'" [label]="'Details 3'">
        <p>edit works! Role id {{ this.roleId }}</p>
    </app-edit-item-title>

    <input type="text" style="width: 100%;" />

    <p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p><p>User list works!</p>

    <app-edit-item-title [id]="'details4'" [label]="'Details 4'">
        <p>edit works! Role id {{ this.roleId }}</p>
    </app-edit-item-title>
</app-edit-container>