<app-button-container>
    <app-button-group [displayName]="'ButtonGroup-Entity' | translate" [priority]="1">
        <app-save-button #saveButton
            [alertMessageModel]="saveAlertMessageModel"
            [alertFailureMessage]="'RolesEdit-Save-AlertFailure-Message'"
            [save]="saveClick"></app-save-button>
    </app-button-group>
</app-button-container>

<app-edit-container auto-scroll [icon]="'fa-tag'" [title]="this.title | translate">
    
    <app-edit-section [id]="'details'" [label]="'RolesEdit-Section-Details' | translate">
        <div class="row">
            <app-edit-group class="col-6" [groupTitle]="'RolesEdit-Group-Role' | translate">
                <div class="row mb-3 g-3">
                    <label for="" class="col-sm-auto col-form-label text-end">{{ 'RolesEdit-Label-Name' | translate }}:</label>
                    <div class="col-sm">
                        <input type="text" class="form-control" value="" />
                    </div>
                </div>
            </app-edit-group>
        </div>
    </app-edit-section>

</app-edit-container>