<app-button-container>
    <app-button-group [displayName]="'ButtonGroup-Entity' | translate" [priority]="1">
        <app-save-button #saveButton
            [alertMessageModel]="saveAlertMessageModel"
            [alertFailureMessage]="'RolesEdit-Save-AlertFailure-Message'"
            [save]="saveClick"></app-save-button>
    </app-button-group>
</app-button-container>

<app-edit-container auto-scroll [icon]="'fa-tag'" [title]="this.title">
    <app-edit-item-title [id]="'details'" [label]="'RolesEdit-Details'">
        
        <div class="col-6">
            <div class="row g-0 mb-2">
                <div class="col pb-1" style="border-bottom:1px solid #cecece; font-weight: 500;">
                    <span>Role</span>
                </div>
            </div>

            <div class="row mb-3 g-3">
                <label for="" class="col-sm-auto col-form-label text-end">Name:</label>
                <div class="col-sm">
                    <input type="text" class="form-control" value="" />
                </div>
            </div>
        </div>

    </app-edit-item-title>
</app-edit-container>