<div class="tab-container">
    <ul class="tabs-nav d-flex flex-row p-0 m-0" dragula="TABS" [(dragulaModel)]="openTabs">
        <app-tab-item *ngFor="let tab of openTabs"
            [tab]="tab" [isActive]="tab === this.activeTab"
            (navigated)="setTabActive($event)"
            (closed)="closeTab($event)"
        ></app-tab-item>
    </ul>

    <div class="selector"
        [ngStyle]="{
            'left.px': getSelectedLeft(),
            'width.px': getSelectedWidth()
        }"></div>
</div>

<div class="tab-content flex-grow-1 rounded-bottom p-2" *ngIf="openTabs.length > 0">
    <ng-content></ng-content>
</div>