@import "../../../shared/styles/variables";

@import "../../../shared/styles/background";
@import "../../../shared/styles/dragula";

.tab-container {
    position: relative;

    .tabs-nav {
        list-style: none;
    }

    .selector {
        background-color: $item-active-color;
        position: absolute;
        bottom: 0;
        height: 2px;
        left: 0;
        width: 0;
        z-index: 2;

        transition: all $tab-select-transition-speed ease;
    }
}

.tab-content {
    margin-top: -1px;
    border: 1px solid darken($item-background-color, 20%);
    @include background($item-active-background-color, .93);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    ::ng-deep > *:not(router-outlet) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-height: 100%;
        height: 100%;
    }
}