<app-list-container auto-scroll [datasource]="datasource">
    <ag-grid-angular #grid auto-scroll-grid
        class="ag-theme-alpine flex-grow-1 border rounded mt-0 h-100"
        [columnDefs]="columnDefs"

        [frameworkComponents]="this.frameworkComponents"
        [getRowNodeId]="datasource.getRowNodeId"
        
        [immutableData]="true"
        [rowSelection]="'multiple'"
        [rowModelType]="'infinite'"
        [suppressDragLeaveHidesColumns]="true"

        (gridReady)="onGridReady()"
    >
    </ag-grid-angular>

    <app-roles-list-filter filters [datasource]="datasource"></app-roles-list-filter>
</app-list-container>