<div class="content">
    <form appFormFocusInvalidInput [formGroup]="filterForm" (ngSubmit)="apply()" >
        <div class="apply d-flex">
            <button type="submit" class="btn col"
                [class.disabled]="datasource.loading"
            >
                <i class="fas fa-filter me-2"
                    [class.fa-filter]="!datasource.loading"
                    [class.fa-spinner]="datasource.loading"
                    [class.fa-spin]="datasource.loading"
                ></i>{{ 'Apply' | translate }}
            </button>

            <button type="button" class="btn col-auto ms-2 btn-danger" (click)="reset()">
                <i class="fas fa-times-circle me-2"></i>{{ 'Clear' | translate }}
            </button>
        </div>

        <ng-content></ng-content>
    </form>
</div>