@import "/src/app/shared/styles/variables";

@import 'bootstrap';

.apply {
    margin-bottom: .5rem;

    .btn {
        font-size: .8rem;

        &[type=submit] {
            @include button-variant($home-base-color3, $home-base-color3);
        }

        &[type=button] {
            @include button-variant(rgba(lighten($home-base-color3, 60%), .8), $home-base-color3,
                $color: $home-base-color3, $hover-color: $home-base-color3, $active-color: $home-base-color3, $disabled-color: $home-base-color3);
        }
    }
}

.content {
    font-size: .9rem;

    ::ng-deep { 
        .form-label {
            margin-bottom: 0;
        }

        .form-control {
            font-size: .9rem;
        }
    }
}

