<div class="modal fade" id="logoutModal" tabindex="-1" aria-hidden="true" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>{{ 'TopMenu-Logout-Message' | translate }}</h5>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'TopMenu-Logout-Message-Cancel' | translate }}</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmClick()">{{ 'TopMenu-Logout-Message-Confirm' | translate }}</button>
            </div>
        </div>
    </div>
</div>