@import "../../styles/variables";
@import "../../styles/background";

@import "../button/button.component.scss";

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 0;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    
    @include background($home-base-color, .97);

    .dropdown-item {
        padding: 0.5rem 1rem;

        i {
            color: $home-base-color3;
            margin-right: 0.75rem;
        }

        &:hover, &:focus {
            background-color: lighten($home-base-color3, 60%);
        }
    }
}