<app-button-container>
    
    <app-button-group [displayName]="'ButtonGroup-Entity' | translate" [priority]="1">
        <app-new-button [newUrl]="newUrl"></app-new-button>
        
        <app-edit-button [grid]="grid" [editUrl]="editUrl"></app-edit-button>

        <app-delete-button #deleteButton
            [grid]="grid"
            [modal]="deleteModal"
            [alertMessageModel]="deleteAlertMessageModel"
            [alertFailureMessage]="'RolesList-Delete-AlertFailure-Message'"
            [delete]="deleteClick"></app-delete-button>
    </app-button-group>

    <app-button-group [displayName]="'ButtonGroup-General' | translate" [priority]="2">
        <app-filter-button [listContainer]="listContainer"></app-filter-button>

        <app-refresh-button [grid]="grid"></app-refresh-button>

        <app-export-button #exportButton
            [exportFileName]="'Exported-Roles'"
            [alertMessageModel]="exportAlertMessageModel"
            [alertFailureMessage]="'RolesList-Export-AlertFailure-Message'"
            [export]="exportClick"></app-export-button>
    </app-button-group>

</app-button-container>

<app-list-container #listContainer auto-scroll>
    <ag-grid-angular #grid
        class="ag-theme-alpine flex-grow-1 border rounded mt-0 h-100"
        [columnDefs]="columnDefs"

        [frameworkComponents]="this.frameworkComponents"
        
        [immutableData]="true"
        [getRowNodeId]="getRowNodeId"
        [rowSelection]="'multiple'"
        [rowModelType]="'infinite'"
        [suppressDragLeaveHidesColumns]="true"
        (gridReady)="onGridReady($event)"

        auto-scroll-grid
    >
    </ag-grid-angular>

    <div filters>
        filters here
    </div>
</app-list-container>

<app-delete-modal #deleteModal
    [modalId]="'listUserDeleteModal'"
    [messageModel]="deleteConfirmMessageModel"
    (confirmed)="deleteButton.click()"
></app-delete-modal>