<app-button-container>    
    <app-button-group [displayName]="'ButtonGroup-General' | translate" [priority]="1">
        <app-refresh-button [grid]="grid"></app-refresh-button>
        <app-export-button #exportButton [exportFileName]="'Exported-Roles'"></app-export-button>
    </app-button-group>
</app-button-container>

<div class="list-container" auto-scroll>
    
    <ag-grid-angular #grid
        class="ag-theme-alpine flex-grow-1 border rounded mt-0 h-100"
        [columnDefs]="columnDefs"
        [frameworkComponents]="this.frameworkComponents"
        
        [immutableData]="true"
        [rowSelection]="'single'"
        [rowModelType]="'infinite'"
        [suppressDragLeaveHidesColumns]="true"
        (gridReady)="onGridReady($event)"

        auto-scroll-grid
    >
    </ag-grid-angular>

</div>