<div class="h-100 mh-100 d-flex">

    <div class="background"></div>

    <app-nav-drawer #menu
        [userName]="getUserName()"
        [userDepartment]="getUserDepartment()"
        [userImage]="getUserImage()"
        (navigated)="this.navigateItem($event)"
        >
        <div BrandExpanded><img src="/assets/logo_menu_expanded.jpg" width="96" height="50"></div>
        <div BrandCollapsed><img src="/assets/logo_menu_collapsed.jpg" width="36" height="50"></div>
    </app-nav-drawer>

    <div class="main d-flex flex-grow-1 flex-column">
        <div class="toolbar position-relative d-flex p-2 align-items-center">
            <div class="background"></div>

            <div class="me-auto">
                <button type="button" class="btn btn-collapse-menu" (click)="toggleMenu()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <div>
                <span class="d-none d-md-inline">Welcome to CarShop.</span>
                
                <button type="button" class="btn btn-transparent mx-2">
                    <i class="fas fa-bell"></i>
                </button>
            
                <button type="button" class="btn btn-log-out" (click)="signOut()">
                    <i class="fas fa-sign-out-alt me-2"></i>Log Out
                </button>
            </div>
        </div>

        <div class="container-fluid position-relative flex-grow-1 overflow-auto pt-2">
            <div class="background"></div>

            <app-tabs #tabs></app-tabs>

            <!-- 1
            <router-outlet name="users"></router-outlet>
            2 -->
            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
</div>