<div class="h-100 mh-100 d-flex">
    <app-nav-drawer #menu
        [userName]="getUserName()"
        [userDepartment]="getUserDepartment()"
        [userImage]="getUserImage()"
        (navigated)="this.navigateItem($event)"
        >
        <div BrandExpanded></div>
        <div BrandCollapsed></div>
    </app-nav-drawer>

    <div class="main d-flex flex-grow-1 flex-column">
        <div class="toolbar position-relative d-flex flex-shrink-0 p-2 align-items-center">
            <div class="me-auto">
                <button type="button" class="btn btn-collapse-menu" (click)="toggleMenu()">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <div>
                <span class="d-none d-md-inline">Welcome to CarShop.</span>
                
                <button type="button" class="btn btn-transparent mx-2">
                    <i class="fas fa-bell"></i>
                </button>
            
                <button type="button" class="btn btn-log-out" data-bs-toggle="modal" data-bs-target="#logoutModal">
                    <i class="fas fa-sign-out-alt me-2"></i>{{ 'TopMenu-Logout' | translate }}
                </button>
            </div>
        </div>

        <div class="container-fluid position-relative flex-grow-1 pt-3 pb-2">
            <app-tabs #tabs>
                <router-outlet></router-outlet>
            </app-tabs>
        </div>
    </div>
</div>

<app-logout-modal (logout)="signOut()"></app-logout-modal>