@import "/src/app/shared/styles/variables";

@import "/src/app/shared/styles/no-select";

:host-context {
    display: block;
    
    &:not(:first-child) {
        margin-top: .6rem;
    }

    h6 {
        display: flex;
        align-items: center;
        height: 3rem;
        padding: .25rem .25rem .25rem 0;
        margin-bottom: 0;
        cursor: pointer;

        font-weight: normal !important;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    
        @include no-select();
    
        i {
            margin-right: .5rem;
            color: $home-base-color3;
    
            transition: all .25s ease-in-out;
        }

        &.collapsed {
            i {
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
    }

    .first-load {
        transition: none !important;
    }
}