<div class="dropdown btn-group">
    <div #button class="btn d-flex flex-column text-nowrap {{ this.buttonClass }}"
        [class.hover]="this.hover && !this.isSuccess"
        [ngClass]="{ 'disabled' : this.disabled }"
        (click)="this.buttonClick($event)"
    >
        <div class="icon">
            <i class="fas {{ this.displayIcon }} {{ this.color }} fa-fw"
                [class.default-color]="!this.color"
            ></i>
        </div>
        
        <div class="label">
            <span class="d-none d-sm-inline">{{ this.label }}</span>
        </div>
    </div>

    <div class="btn-group">
        <a #toggle class="btn dropdown-toggle text-nowrap {{ this.buttonClass }} {{ this.color }}" role="button" aria-expanded="false"
            [class.hover]="this.hover && !this.isSuccess"
            [class.default-color]="!this.color"
            [ngClass]="{ 'disabled' : this.disabled }"
        ></a>

        <ul class="dropdown-menu"
            [ngStyle]="{
                'transform': 'translateX(' + -100 + 'px) !important'
            }"
        >
            <li *ngFor="let item of this.getMenuItems(); trackBy: identify">
                <a class="dropdown-item" (click)="this.itemClick(item, $event)">
                    <i *ngIf="item.icon !== ''" class="fas fa-{{ item.icon }}"></i>
                    {{ item.label | translate }}
                </a>
            </li>
        </ul>
    </div>
</div>

