@import '/src/app/shared/styles/variables';

.btn {
    transition: all 0.2s ease-in-out;

    &:not(.btn-danger):not(.btn-success):not(.btn-warning) {
        &:hover {
            background-color: rgba($home-fore-color, .15);
        }
    }
}

.btn-success, .btn-danger, .btn-warning {
    .icon {
        i {
            color: white !important;
        }
    }
}

.icon {
    font-size: 1.5rem;

    .default-color {
        color: $home-base-color3;
    }
}

.label {
    font-size: 0.9rem;
}