@import "/src/app/shared/styles/variables";

@import "/src/app/shared/styles/background";

:host-context {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: .2rem;
    flex-shrink: 0;

    .container-background {
        position: absolute !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        @include background(darken($home-base-color, 5%), .95);
    }
}