@mixin flags($name) {
    background-image: url(/assets/flags/#{$name}.png);
}

.flag {
    background-repeat: no-repeat;
    background-position: 1.2em 0.5em;
    background-size: 24px 24px;
    min-height: 2rem;
    padding: 0.5rem 3rem 0.5rem 3.7rem !important;
}

.flag-brazil {
    @include flags('brazil');
}

.flag-united-states {
    @include flags('united-states');
}

.flag-spain {
    @include flags('spain');
}

.flag-italy {
    @include flags('italy');
}

.flag-germany {
    @include flags('germany');
}