
@import "variables";

@import "background";
@import "scroll";

.list-container {
    // @include background(darken($home-base-color, 5%), .95);

    overflow: auto;
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: .5rem;

    .list-body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100%;
        
        overflow-y: scroll;

        @include scroll(darken($home-base-color, 20%));
    }
}