@import "variables/login";

@import "variables/home";

@import "variables/menu";
@import "variables/tabs";

@import "variables/filters";


/* Styles */
.background { /* Will be removed */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    border-radius: inherit;
    overflow: hidden;
    z-index: -1;

    background: url(#{$background-url}) no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);

    &:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 500px 500px rgba(255, 255, 255, 0.75);
        filter: blur(15px);
        margin: -40px;
    }
}